In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('filteredRecords.csv')
df.head()

                                                text label
0  CHAPTER XXV THE LAST STROKE As solicitor turne...     A
1  The pretty widow Mr Ferrars pardon cousin spok...     A
2  One naturally would place Yes I suppose went r...     A
3  In short could throw light upon mystery brothe...     A
4  Well hear Miss Grant say Miss Grant group gate...     A

# Bag OF Words

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features = 150)
X = cv.fit_transform(df.text).toarray()
X.shape

(1000, 150)

In [5]:
# BOW_df = pd.DataFrame(X,columns = cv.get_feature_names())
# BOW_df.head()

In [6]:
# plt.figure(figsize=(18,7))
# sns.heatmap(BOW_df, cbar =False,yticklabels = False, cmap = 'rocket_r')

# TF - IDF

In [7]:
from sklearn.feature_extraction.text import TfidfTransformer
tf_transformer = TfidfTransformer(use_idf=False).fit(X)
X_train_tf = tf_transformer.transform(X)
X_train_tf.shape
print(X_train_tf.shape)

(1000, 150)

In [8]:
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X)
X_train_tfidf.shape
print(X_train_tfidf.shape)

(1000, 150)

In [23]:
print(X_train_tf)

  (0, 7)	0.2672612419124244
  (0, 43)	0.2672612419124244
  (0, 56)	0.2672612419124244
  (0, 64)	0.2672612419124244
  (0, 74)	0.2672612419124244
  (0, 77)	0.5345224838248488
  (0, 106)	0.2672612419124244
  (0, 115)	0.2672612419124244
  (0, 120)	0.2672612419124244
  (0, 132)	0.2672612419124244
  (0, 146)	0.2672612419124244
  (1, 2)	0.4364357804719848
  (1, 7)	0.4364357804719848
  (1, 28)	0.2182178902359924
  (1, 73)	0.2182178902359924
  (1, 77)	0.4364357804719848
  (1, 80)	0.2182178902359924
  (1, 99)	0.2182178902359924
  (1, 107)	0.2182178902359924
  (1, 112)	0.2182178902359924
  (1, 120)	0.2182178902359924
  (1, 125)	0.2182178902359924
  (1, 129)	0.2182178902359924
  (2, 8)	0.2886751345948129
  (2, 11)	0.2886751345948129
  :	:
  (997, 146)	0.21320071635561041
  (997, 147)	0.21320071635561041
  (998, 20)	0.2773500981126146
  (998, 61)	0.2773500981126146
  (998, 70)	0.2773500981126146
  (998, 78)	0.2773500981126146
  (998, 82)	0.5547001962252291
  (998, 83)	0.2773500981126146
  (998, 102)	0.2773500981126146
  (998, 105)	0.2773500981126146
  (998, 110)	0.2773500981126146
  (998, 138)	0.2773500981126146
  (999, 7)	0.2773500981126146
  (999, 10)	0.2773500981126146
  (999, 11)	0.2773500981126146
  (999, 18)	0.2773500981126146
  (999, 31)	0.2773500981126146
  (999, 56)	0.2773500981126146
  (999, 104)	0.2773500981126146
  (999, 105)	0.2773500981126146
  (999, 112)	0.2773500981126146
  (999, 114)	0.2773500981126146
  (999, 120)	0.2773500981126146
  (999, 133)	0.2773500981126146
  (999, 134)	0.2773500981126146

# N-Gram

# LDA