In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('filteredRecords.csv')
df.head()

                                                text label
0  It obvious glance story fullersearth merest fa...     A
1  Man least criminal lost enterprise originality...     A
2  I idea And king The King Scandinavia What Had ...     A
3  You wont shake hands I go Oh certainly would g...     A
4  Its big white yonder Theres twentysix makes us...     A

# Bag OF Words

In [42]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features = 150)
X = cv.fit_transform(df.text).toarray()
X.shape

(1000, 150)

In [53]:
# BOW_df = pd.DataFrame(X,columns = cv.get_feature_names())
# BOW_df.head()

In [52]:
# plt.figure(figsize=(18,7))
# sns.heatmap(BOW_df, cbar =False,yticklabels = False, cmap = 'rocket_r')

# TF - IDF

# N-Gram

# LDA